/* .ant-layout{
    text-align: center;

}
.ant-layout-header{
    background-color: aquamarine;
    color: #fff;
}

.ant-layout-content{
    background-color: black;
    color: #fff;
}
.ant-layout-sider{
    background-color: blueviolet;
    color: #fff;
}
.ant-layout-footer{
    background-color: blue;
    color: #fff;
} */

 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}